.jumbo3 {
    width: 512px;
    height: 668px;

    position: relative;
    /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

    margin: 0 auto;

    margin-top: 70px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.jumbo3 h1 {
    margin-top: 40px;
    font-family: "Arial Black";
    margin-bottom: 50px;
}

.Xbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}