{% extends 'base.html' %}


{% block content %}
<h2 class='container'>상세보기</h2>
<body class='container'>
  <p>제목 : {{ articles.title }}</p>
  <p>내용 : {{ articles.content }}</p>
  <p>생성시간 : {{ articles.created_at }}</p> 
  <form action="{% url 'articles:delete' articles.pk %}">
  <button class="btn btn-danger">삭제</button>
  </form>
  <form action="{% url 'articles:update' articles.pk %}">
  <button class="btn btn-primary">수정</button>
  </form>
  <a href=" {% url 'articles:index' %} ">[back]</a>
</body>

{% endblock  %}