.TodoListBlock {
  flex: 1;
  padding: 20px 32px;
  padding-bottom: 48px;
  overflow-y: auto;
}

.MyAlert {
  background-image: url("../../images/아라찌.jfif");
  background-size: cover;
  color: skyblue;
  background-color: lightgrey;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
