@font-face {
  font-family: '이쁜폰트';
  src : url(nanumsqareR.ttf);
}


.body {
  font-family: 'gulim', 'gothic';
}

div, input, textarea {
  box-sizing: border-box;
}

.profile {
  width: 200px;
  margin: auto;
  display: block;
}


.title {
  text-align: center;
  font-size: 26px;
}


#special {
  text-align: center;
}


.description {
  text-align: center;
  width: 400px;
  background-color: antiquewhite;
  /*박스 디자인시 자주 쓰는 스타일링*/
  margin: auto;
  display: block;
  padding: 30px;
  border: 4px solid black;
  font-size: 25px;
  border-radius: 10px;
}
.container {
  width: 800px;
  margin: auto;
}

.header {
  width: 100%;
  height: 50px;
  background-color: cadetblue;
}

.left {
  width: 20%;
  height: 500px;
  background-color: darkgoldenrod;
  float: left;
}

.right {
  width: 80%;
  height: 500px;
  background-color: antiquewhite;
  float : left;
}

div {
  
}

.footer {
  width: 100%;
  height: 50px;
  background-color: firebrick;
  clear: both
}

.left2 {
  width: 20%;
  height: 500px;
  background-color: darksalmon;
  display: inline-block;
}

.right2 {
  width: 70%;
  height: 500px;
  background-color: beige;
  display: inline-block;
  vertical-align: top;
}

.blog-content {
  width: 80%;
  height: 200px;
  float: left;
}

.blog-image {
  width: 20%;
  height: 200px;
  float: left;
}

.blog-profile {
  float: left;
  margin-left: 10px;
}

.blog-img {
  float: left;
}

.blog-name {
  margin: 
}

.blog-title {
  clear: both;
}

.explain-container {
  text-align: center;
  margin-top: 70px;
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
}
.explain-container div {
  margin-top: 40px;
  float: left;
  width: 25%;
}

@media screen and (max-width: 992px){
    .explain-container {
      max-width: 800px;
    }
    .explain-container div {
        float: left;
        width: 50%;
    }
}


@media screen and (max-width: 768px){
    .explain-container div {
        float: none;
        width: 100%;
        display: none;
    }
}



.li-inline li{
  display: inline-block;
  width: 60px;
  text-align: center;
}


.text-center {
  
}

.navbar {
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.li-inline a {
  text-decoration: none;
}

.li-inline a:visited {
  color : black;
}

body {
  margin: 0px;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../images/%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C.jfif);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  padding-top: 150px;
  position: relative;
  
}

.main-title {
  color: white;
  text-align: center;
  font-size: 30px;
}

.main-title-box {
  padding-top: 150px;
  text-align: center;
}

.main-content {
  padding: 20px;
  color: white;
  font-size: 18px;
}

.main-button {
  padding: 10px;
  font-size: 18px;
  font-family: fantasy;
  background-color: white;
  border: none;
  display: block;
  margin: auto;
}

.position {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}

.main-item-box {
  width: 80%;
  height: 200px;
  background-color: lightgray;
  text-align: center;
  position: relative;
  margin: auto;
  top: -50px;
  box-sizing: border-box;
  display: block;
}

.main-item-box h3 {
  padding-top: 50px;
}

.main-item-box p {
  padding-left: 10%;
  padding-right: 10%;
}

.main-container {
  height: 100%;
}

.flex-container {
  display: flex;
  
  flex-direction: column;
}

.flex-box {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 5px;
}

.sample-input {
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}

.form-background {
  margin-top: 150px;
  padding: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-white {
  width: 90%;
  max-width: 700px;
  padding: 20px;
  background-color: white;
  margin: auto; 
}

.form-input {
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  width: 100%;
}

.form-half {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-half div {
  width: 47%;
}

.form-half

.form-submit {
  font-size: 50px;
}

.form-checkbox {
  width: 100%;
  padding: 10px;
}

.btn-submit {
  color: white;
  width: 100px;
  padding: 10px;
  background-color: coral;
  border: none;
  border-radius: 10px;
  display: block;
  margin-left: 80%;
  cursor: pointer;
}



table {
  border-collapse: collapse;
}

.cart-background {
  width: 100%;
  padding: 20px;
  background-color: lightblue;
}

.cart-background h3 {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.cart-form-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
}

.cart-table {
  background: white;
  width: 100%;
}

.cart-table th, .cart-table td {
  border-bottom: 1px solid lightgrey;
  padding: 7px;
}


.cart-item {
  width: 50%;
  text-align: left;
}

.cart-amount {
  width: 12%;
  text-align: center;
}

.cart-price {
  width: 12%;
}

.cart-total {
  width: 12%;
  color: navy
}

.cart-total-price {
  color: navy;
  font-weight: 800;
}

.cart-footer {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
}



.cart-btn {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10 30;
  cursor: pointer;
  background-color: coral;
}

.cart-btn-brown {
  background-color: navy;
}

/*마우스 올려졌을 때*/
.cart-btn:hover {
  background-color: chocolate;
}

/*클릭 후 커서가 찍혀있는 상태*/
/*
.cart-btn:focus {
  background-color: red;
}
*/

/*클릭중*/
.cart-btn:active {
  background-color: brown;
}

.custom-link {
  text-decoration: none;
}

/*방문 전 링크*/
.custom-link:link {
  color: black;
}

/*방문 후 링크*/
.custom-link:visited {
  color: red;
}

.product-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.product-item {
  float: left;
  width: 33.3%;
  padding: 15px;
}
.product-item img {
  width: 100%;
}

.grey-background {
  background: #f6f6f6;
  padding-top: 90px;
  padding-bottom: 90px;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 1s;
}
.overlay:hover {
    opacity: 1;
}



.overlay p {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.wrap-movement {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.5);
}

.movement {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0,0,0,0.3);
}

.expain-container {
  text-align: center;
  margin: auto;
  max-width: 1200px;
  margin-top: 70px;
}

.expain-container i {
  background-color: burlywood;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 26px;
  box-sizing: border-box;
  color: white;
}

.ani-test {
  text-align: center;
  font-size: 30px;
  font-style: oblique;
/*  transform: rotate(-30deg);*/
/*  transform: translate(30px, 50px);*/
/*  transform: translateX(30px)*/
/*  transform: scale(2, 3);*/
/*  레이아웃과 상관없이 동작 가능함! 다른요소들에 영향 X */
}

.ani-test:hover {
  animation-name: test;
  animation-duration: 1s;
}

@keyframes test {
  0% {
    transform: translateX(0px)
  }
  50% {
    transform: translateX(-100px)
  }
  100% {
    transform: translateX(100px)
  }
}

.ani-button {
  padding: 20px;
  font-size: 22px;
  background: skyblue;
  margin: auto;
  display: block;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ani-button:hover {
  animation-name: shake;
  animation-duration: 1s;
}

@keyframes shake {
  0% {
    =transform: rotate(0deg)
  }
  25% {
    transform: rotate(-8deg)
  }
  50% {
    transform: rotate(8deg)
  }
  75% {
    transform: rotate(-8deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

.ani-x {
  margin: 150px; auto;
  text-align: center;
  font-size: 70px;
  width: 84px;
  cursor: pointer;
}

.ani-x:hover {
  animation-name: tox;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes tox {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-15deg) }
  100% {transform: rotate(45deg) scale(2)}
}

.navbar1 {
  width: 300px;
  background: black;
  color: white;
  height: 100%;
  padding: 25px;
  position: fixed;
  text-align: right;
  z-index: 5;
  transform: translateX(-210px);
  transition: all 1s;
}

.navbar1:hover {
  transform: translateX(0px);
  text-align: center;
}

.navbar1-item {
  transform: translateX(-400px);
  transition: all 1s;
}

.navbar1:hover .navbar1-item {
  transform: translateX(0px);
}

.grid-container {
  display: grid;
  max-width: 600px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  padding: 10px;
}

.grid-container div {
  border: 1px solid black;
}

.gird-nav {
  grid-column: 1 / 5;
/*  1부터 4만큼의 컬럼 갯수를 차지합니다.*/
  text-align: center;
}

.grid-sidebar {
  grid-row: 2 / 4;
  text-align: center;
}

.grid-content {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  text-align: center;
  
}



.gray {
  background: gray;
  height: 1000px;
  margin-top: 600px;
  margin-bottom: 1600px;
}

.sticky {
  position: sticky;
  top: 100px;
  float: right;
}

.left-text {
  float: left;
  color: white;
  padding: 20px;
}

.flip-outer {
  width: 300px;
  height: 300px;
  margin: auto;
}

.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d;
}

.flip-inner:hover {
  transform: rotateY(180deg);
}

.front {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  width: 100%;
  text-align: center;
  position: absolute;
  transform: rotateY(180deg);
  /*  나중에 뒤집을때 글씨 똑바로 보이게 미리 뒤집어 놓기*/
  background: yellow;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
